<!doctype html>
	<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Q and T</title>
	  <meta name="Life with the Wife" content="Adventures of QTs">
	  <meta name="Quang-Thuy Hoang" content="SitePoint">
	  <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
	</head>
	<body>
		<div class="ui fixed menu">
			<div class="ui container">
				<div class="header item"><i class="book icon"></i></div>
				<a class="item" href="/">Home</a>
				<a class="item" href="/blog/new">New Post</a>
				<a class="item" href="/blog/tableofcontent">Table of Content</a>
				<a class="item" href="/rest">RESTful table</a>
				<div class="header item right floated">
					<% if(!currentUser){ %>
					<a class="item" href="/login">Login</a>
					<a class="item " href="/register">Sign Up</a>
					<%  } else { %>
					<a class="item" href="#">Signed in as <%=currentUser.username%></a>
					<a class="item" href="/logout">Logout</a>
				<% } %>
				</div>
				
				
				
			</div>
		</div>
		<div class="container navigation-spacing">
		</div>
	<!-- <div class="ui sidebar verticle left menu overlay visible">
		<div class="ui accordion">
			<a class="title item">Class item <i class="dropdown icon"></i></a>
			<div class="content">
				<p clas="item">Item Content</p>
			</div>
			<a class="title item">Class item <i class="dropdown icon"></i></a>
			<div class="content">
				<p clas="item">Item Content</p>
			</div>
			<a class="title item">Class item <i class="dropdown icon"></i></a>
			<div class="content">
				<p clas="item">Item Content</p>
			</div>
		</div> -->
	<!-- 	<div class="ui accordion">
			<a class="title item">class title item</a>
			
		</div> -->
	<!-- </div> -->